body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.main-box-height {
    height: calc(100vh - 56px);
    display: flow-root;
}

.postBorder {
    width: 80vw;
    box-shadow: black 10px 10px 70px;
    margin-bottom: 50px!important;
    margin-top: 20px!important;
}